h1 {
    background-color: grey;
}
.captionandimage {
    display: inline-block;
    justify-content: space-between; /* Adjust the space between items */
    gap: 20px; 
}

.captionandimage > div {
    text-align: center; /* Align captions under the images */
}

.image1, .image2, .image3 {
    display: flex; /* Ensures the images are aligned horizontally */
}
.side {

    background-color: rgb(138, 138, 138);
    padding: 20px;  /* Add some padding */
    flex: 1;  /* Makes the side section take available space */
    color: transparent;  /* Makes the text color transparent */
}
.container{
    display:flex;
}
.main{
    flex:4;
}
